# Impostazioni di PyCharm (JetBrains)
.idea/

# Se usi VS Code, ignora anche questa
.vscode/

# Cartelle di Python
__pycache__/
*.pyc
.venv/
.env
build/
dist/
*.egg-info/
*.spec

# Database (spesso è meglio non caricarlo se contiene dati di test)
*.sqlite3
*.db

# File di sistema
.DS_Store
Thumbs.db

# File di log
prova.py
seed_db.py
GEMINI.md